/*
page 1 css
*/
.body1, .body2 {
    font-family: 'Laila', serif;
    background: rgb(100, 221, 230);
}
.moanaTitle{
    text-align: left;
    font-size: 200px;
    opacity: 0.7;
}

.parent{
    width: 100vw;
    display: flex;
    display: grid;
}

#container{
    display:flex;
    flex-direction:column;
    
}
.child  {
    border: solid;
    height: 50vh;
    width: 100%;
}

#para { 
    background: url("./images/moana.jpg") fixed center;    
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    color: white;
  }

.navBar {
    word-spacing: 50px;
    position: sticky;
    border:none;
    top:0;
    font-size:30px;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
.navBar a {
    color:white;
    font-size: 30px;
    text-decoration: none;  
}
#para3 { 
    background: linear-gradient( rgba(0, 4, 5, 0.5), rgba(18, 63, 105, 0.5)), url("./images/moana_baby.gif");   
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    color: white;
  }
.synopsis {
    display:flex;
    font-size: 100px;
}
.synopText {
    
}
/*
page 2 css
*/
/* .body2 {
    background:;
} */


#container{
    display: flex;
    flex-direction:column;
    height: 100vh;
    width: 100vw;
}

#para2 { 
    background: url("./images/moana-maui-yourewelcome.jpg") fixed center;    
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    color: white;
  }


/*Table stuff*/
.vipImageHeader{
    display:flex;
    flex-direction: column;
    border: 5px solid gray;
    width:100%;
}

.vipHeader{
    margin: 0 auto;
}

.tableHold {
    border:5px solid purple;
    margin: 0 auto;
    padding:10px;
    border-radius: 10px;
}

.tableHold:hover{
    background:papayawhip;
    cursor:pointer;
}


/*VIP individual people pictures and content blocks for slider*/
/* .child2 {
    display: flex;
    flex-direction: row;
} */
/* .children2 {
    /* border: solid;
    height: 30vw; 

}*/
/* .chill2 {
    height: 150px;
    width: 150px;
    border: solid;
}  */

.child1{
border: 2px solid blueviolet;
flex-grow: 1;


}
.child2{
border: 2px solid darkgoldenrod;
flex-grow: 7;


}
.child3{
border: 2px solid orangered;
flex-grow: 6;


}
.child4{
border: 2px solid aquamarine;
flex-grow: 3;


}
.child5{
border: 2px solid saddlebrown;
flex-grow: 2;


}

.child6{
border: 2px solid olivedrab;
flex-grow: 3;


}

.child7{
border: 2px solid fuchsia;
flex-grow: 4;


}